<main>
    <div id="div-1" class="cool-class-a">My Div One, @Model.TestText</div>
    <div id="div-2" class="cool-class-b">My Div Two</div>
    <div id="div-3" class="cool-class-c another-class col-12">My Div Three</div>
    <div id="div-4" class="cool-class-d">My Div Four</div>
</main>