@model Dominic.Test.Models.ExternalTestType

<article>
    <h1>@Model.Name</h1>
    <p>My fantastic example</p>
    <p data-testId="cool-test-id">This Person is cool: @Model.IsCool</p>
    <partial name="_PartialName.cshtml" />
</article>