@{
    Layout = "_Layout.cshtml";
}
<article>
    <h2>Hello World</h2>
    <p>My fantastic example</p>
    <p data-testId="cool-test-id">Written by Aaron</p>
    <partial name="_PartialName.cshtml" />
</article>