<article>
    <h1>Hello!</h1>
    <h2>@ViewBag.Test</h2>
    <p>My fantastic example</p>
    <p data-testId="cool-test-id">This Person is cool: True</p>
    <partial name="_PartialName.cshtml" />
</article>