<main>
    <div id="div-1" data-testId="my-test-id" class="cool-class-a">My Div One, @Model.TestText</div>
    <div id="div-1" data-testId="my-test-id" class="cool-class-b">My Div Two, @Model.TestText</div>
    <div id="div-1" data-testId="my-test-id" class="cool-class-c">My Div Three, @Model.TestText</div>
    <div id="div-1" data-testId="my-test-id" class="cool-class-d">My Div Four, @Model.TestText</div>
    <partial name="common-partial" />
    <partial name="common-partial" />
    <partial name="common-partial" />
</main>