@{
    Layout = "TestTemplates/_Layout.cshtml";
}
<article>
    <h2>@Model.Title</h2>
    <p>My fantastic example</p>
    <p data-testId="cool-test-id">Written by @Model.Author</p>
    <partial name="_PartialName.cshtml" />
</article>